<p id="notice"><%= notice %></p>

<p>
  <strong>Independent study:</strong>
  <%= @course.independent_study %>
</p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @course.code %>
</p>

<p>
  <strong>Credits:</strong>
  <%= @course.credits %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>


<% courses.each do |one_course| %>
<%= one_course.name %>
<% end %>
<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
