<% provide(:title, @user.first_name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <p>
          <%= gravatar_for @user %>
          <strong>First Name:</strong>
          <%= @user.first_name %>
        </p>

        <p>
          <strong>Last Name:</strong>
          <%= @user.last_name %>
        </p>

        <p>
          <strong>Email:</strong>
          <%= @user.email %>
        </p>
      </h1>
</div>
<h2 class="text-center">My Courses </h2>

      <% Enrollment.where(user_id: current_user.id).each do |courses| %>
             <div class="row individual_course">
        <% c = Course.find(courses.course_id) %>
          <%=c.name%>
      <%=c.name%> - <%=c.code%>
      <p> <%=c.description %>
        <div class="col-md-2">
          <td><%= button_to 'Un-Enroll', courses, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-default", :unique => true  %></td>
    </div>
        </div>

      <% end %>

    </section>
  </aside>
</div>
