<% provide(:title, @user.first_name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <p>
          <%= gravatar_for @user %>
          <strong>First name:</strong>
          <%= @user.first_name %>
        </p>

        <p>
          <strong>Last name:</strong>
          <%= @user.last_name %>
        </p>

        <p>
          <strong>Email:</strong>
          <%= @user.email %>
        </p>
      </h1>
</div>
<h2 class="text-center">My Courses </h2>
      <% Enrollment.where(user_id: current_user.id).each do |courses| %>
      <div class="row individual_course">
      <%=Course.find(courses.course_id).name%> - <%=Course.find(courses.course_id).code%>
      <p> <%=Course.find(courses.course_id).description %>
        <div class="col-md-2">
          <td><%= button_to 'Un-Enroll', courses, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-default", :unique => true  %></td>
    </div>
        </div>

      <% end %>

    </section>
  </aside>
</div>
