<p id="notice"><%= notice %></p>

<h1 class="text-center">
    <%= @subject.name %>
</h1>

 <% @subject.courses.each do |c| %>
 <% c.name %>
 <% end %>
<!--
<% CoursesSubject.where(subject_id: @subject.id).each do |courses| %>
<% course = Course.find(courses.course_id)%>
<div class="row individual_course">
    <p><%= courses.id %></p>
    <%= link_to course.name, course %>
    -
    <%=course.code%>
    <br/>

    <p>
        <%=course.description%></p>

    Independent Study:

    <% if course.independent_study == true %>
    <%= link_to fa_icon('check') %>
<% else %>
    <%= link_to fa_icon('times') %>

<% end %>
<%= button_to 'Enroll', {:controller => "enrollments", :action => "create", :course_id => course.id,  :user_id=> session[:user_id].to_i}, :method=>:post, :class => "btn btn-default", role: "button", :unique => true %>
</div>

<% end %> -->
<%= link_to 'Back', subjects_path %>
</div>
