
<% provide(:title, "Courses") %>
<p id="notice"><%= notice %></p>

<h1 class="text-center">
    <%= @subject.name %>
</h1>

 <% @subject.courses.each do |course| %>
<%= print_courses(course) %>
<!--


<div class="row individual_course">
  <p> <%=course.id%>
    <%= link_to course.name, course %>
    -
    <%=course.code%>
    <br/>

    <p>
        <%=course.description%></p>

    Independent Study:

    <% if course.independent_study == true %>
    <%= link_to fa_icon('check') %>
<% else %>
    <%= link_to fa_icon('times') %>

<% end %>

<%= enroll_unenroll_buttons(course)%>
</div> -->
<% end %>


<%= link_to 'Back', subjects_path %>
</div>
