<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header ">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
<%= link_to "Rails PA 1", root_path, :class=>"navbar-brand" %>

</div>

<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse container" id="bs-example-navbar-collapse-1">


  <ul class="nav navbar-nav navbar-right">
    <% if logged_in? %>
    <li><%= link_to "Subjects", subjects_path %></li>
    <li><%= link_to "Courses", courses_path %></li>
    <li><%= link_to "Instructors", instructors_path %></li>
       <li class="dropdown">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown">
           Account <b class="caret"></b>
         </a>
         <ul class="dropdown-menu">
           <li><%= link_to "Profile", current_user %></li>
           <li><%= link_to "Settings", '#' %></li>
           <li class="divider"></li>
           <li>
             <%= link_to "Log out", logout_path, method: "delete" %>
           </li>
         </ul>
       </li>

       <div class="col-sm-4 col-md-4">
         <div class="input-group" id="adv-search">
    <input type="text" class="form-control" placeholder="Search" />
    <div class="input-group-btn">
        <div class="btn-group" role="group">
            <div class="dropdown dropdown-lg">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                <div class="dropdown-menu dropdown-menu-right" role="menu">
                    <form class="form-horizontal" role="form">
                      <div class="form-group">
                        <label for="filter">Filter by</label>
                        <select class="form-control">
                            <option value="0" selected>All Snippets</option>
                            <option value="1">Featured</option>
                            <option value="2">Most popular</option>
                            <option value="3">Top rated</option>
                            <option value="4">Most commented</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="contain">Author</label>
                        <input class="form-control" type="text" />
                      </div>
                      <div class="form-group">
                        <label for="contain">Contains the words</label>
                        <input class="form-control" type="text" />
                      </div>
                      <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </form>
                </div>
            </div>
            <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
        </div>
    </div>
</div>
       </div>
     <% else %>
     <li><%= link_to "Sign up", users_new_path %></li>
       <li><%= link_to "Log in", login_path %></li>

     <% end %>

        </form>
    </div>

  </ul>
</div><!-- /.navbar-collapse -->
</div>  <!--/.container for nav bar-->
</nav>
